@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
	background-color:#F5FFFA;
    background-repeat: no-repeat;
    background-size:100%;
    margin: 0 auto 100px;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

footer {
        position: absolute; 
        bottom: 0px; 
        width: 100%; 
        height: 60px; 
        background-color: #000000;
}@charset "ISO-8859-1";